.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.pokeSprite {
  border-radius: 40%;
}

.pokeSprite:hover {
  filter: drop-shadow(15px 15px 20px rgb(7, 7, 7));
}

.pagination-container {
  /* list-style: none; */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-weight: 500;
  font-size: 15px;
}

.pagination-container a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  height: 40px;
  width: 40px;
  text-decoration: none;
  transition: background-color .2s;
  border: 1px solid #ddd;
  cursor: pointer;
}

.pagination-container a.active {
  background-color: #007bff;
  color: white;
  border: 1px solid #7cbddb;
}

.pagination-container a.disabled {
  opacity: 0.2;
}

.pagination-container a:hover:not(.active) {
  background-color: rgb(238, 238, 238);
}

#pokemonsArea {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;

  list-style-type: none;
  list-style-position: inside;
  /* align-content: space-around; */
  margin: 0;
  padding: 0;
}

#NotFound {
  border: 1px solid black;
}

#filters-container{
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
}

.danger{
    border: red 5px solid;
}