@font-face {
    font-family: 'IBM-SemiBold';
    src: url('../../utils/fonts/IBMPlexMono-SemiBold.ttf')format('truetype');
}


#generalContainer {
    display: flex;
    background: linear-gradient(70deg,
            rgba(30, 44, 239, 0.9),
            rgba(72, 255, 0, 0.9));
    position: absolute;
    height: 100%;
    width: 100%
}

#heading {
    order: -2;
    font-family: 'IBM-SemiBold';
    color: antiquewhite;
}

#sideBar {
    display: flex;
    justify-content: left;
    flex-flow: column;
    flex-wrap: wrap;
    width: fixed;
}

#createButton {
    order: 1;
    width: auto;
    float: inherit;
}

#refreshButton {
    order: -1;
    height: min-content;
}

.button {
    border: 0;
    border-radius: 0.25rem;
    background: #000000;
    color: white;
    font-family: 'IBM-SemiBold', sans-serif;
    font-size: 1rem;
    line-height: 1.2;
    white-space: nowrap;
    text-decoration: none;
    padding: 0.25rem 0.5rem;
    margin: 0.25rem;
    cursor: pointer;
    height: min-content;
    opacity: 0.9;
}

#filters_container {
    display: flex;
    /* border: 2px red solid; */
    justify-content: space-evenly;
    padding: 15px;

}

#pokemonsList {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    list-style-type: none;
    list-style-position: inside;
    align-content: stretch;
    margin: 0;
    padding: 0;
}