@font-face {
    font-family: 'IBM-Bold';
    src: url('../../utils/fonts/IBMPlexMono-Bold.ttf')format('truetype');
}

.pagination {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-family: 'IBM-Bold';
    font-weight: 1000;
    font-size: 15px;
}

.pagination a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    height: 40px;
    width: 40px;
    text-decoration: none;
    transition: background-color .2s;
    border: 1px solid #ddd;
    cursor: pointer;
}

.pagination a.active {
    background-color: #007bff;
    color: white;
    border: 1px solid #7cbddb;
}

.pagination a.disabled {
    opacity: 0.2;
}

.pagination-container a:hover:not(.active) {
    background-color: rgb(238, 238, 238);
}